.input {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;

    label {
        font-weight: 600;
        color: var(--fourth-color);
        margin-left: 0.5rem;
    }

    input {
        background-color: #669bb1;
        border: none;
        padding: 0.6rem 1rem;
        border-radius: 2rem;
    }

    ::placeholder {
        color: #4c7485;
    }
}