.header {
    background-color: var(--third-color);
    width: 100%;
    height: 4.5rem;
    padding: 2.5rem 0.5rem 2.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

    img {
        width: 10rem;
        height: 1.8rem;
        transition: 0.8s;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.8s;
    }

    nav {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: var(--fourth-color);
            transition: 0.5s;
            font-weight: 500;
        }

        a:hover {
            opacity: 0.6;
            transition: 0.5s;
        }
    }
}

.sectioninfos {
    background-image: url('../../assets/img/background/background-section-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    div:first-child {
        text-align: center;
        color: var(--fourth-color);

        h1 {
            font-size: 2.3rem;
            padding: 0.5rem 1rem;
        }

        p {
            font-size: 1.8rem;
        }
    }

    div:last-child {
        width: 28%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            height: 2.5rem;
            padding: 1rem 0rem;
            font-weight: 600;
            text-decoration: none;
            color: var(--fourth-color);
            background-color: transparent;
            border: 2px solid var(--fourth-color);
            border-radius: 0.2rem;
            transition: 0.5s;
        }

        a:first-child:hover {
            border: 2px solid var(--third-color);
            color: var(--third-color);
            transition: 0.5s;
        }

        a:last-child {
            text-decoration: none;
            background-color: var(--third-color);
            border: 2px solid var(--third-color);
        }

        a:last-child:hover {
            background-color: transparent;
            color: var(--third-color);
        }
    }
}

.conhecaapp {
    padding: 0rem 2rem;
    background-color: var(--third-color);
    color: var(--fourth-color);
    display: flex;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        p:first-child {
            font-size: 1.2rem;
            font-weight: 350;
        }

        h2 {
            font-size: 3rem;
            font-weight: 800;
        }

        p:last-child {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}

.funcionalidades {
    width: 100%;
    background-color: #000;
    color: var(--third-color);
    padding: 1.5rem 2rem;
    display: grid;
    gap: 1.5rem;

    .firstdiv {
        height: 35%;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 2fr 1fr;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--fourth-color);
            border-radius: 1rem;
            padding: 0rem 1.5rem;
            transition: 0.5s;
            cursor: pointer;

            h3 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
                font-weight: 900;
            }

            p {
                font-weight: 300;
            }
        }

        div:hover {
            transform: scale(1.04);
            transition: 0.5s;
        }

        .apartdiv {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            div {
                display: block;
                width: 50%;
            }

            img {
                height: 80%;
                align-self: flex-start;
                padding: 0px;
                border-radius: 0.2rem;
            }
        }
    }

    .seconddiv {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        display: flex;
        flex-direction: row;

        .secondapartdiv,
        .thirdpartdiv {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: var(--fourth-color);
            border-radius: 1rem;
            padding: 0rem 1.5rem;
            gap: 2rem;
            transition: 0.5s;
            cursor: pointer;

            div {
                width: 40%;
            }

            img {
                height: 80%;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
                font-weight: 900;
            }

            p {
                font-weight: 300;
            }
        }

        .secondapartdiv {
            transition: 0.5s;

            img {
                align-self: flex-start;
            }
        }

        .thirdpartdiv {
            transition: 0.5s;

            img {
                align-self: flex-end;
            }
        }

        .secondapartdiv:hover,
        .thirdpartdiv:hover {
            transform: scale(1.04);
            transition: 0.5s;
        }
    }
}

.footer {
    background-color: var(--third-color);
    padding: 1rem 2rem;

    section {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 2rem 1rem;

        img {
            width: 10rem;
            align-self: center;
        }

        .dfooter {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 60%;

            div {

                h4 {
                    color: var(--second-color);
                    font-weight: 800;
                    margin-bottom: 0.3rem;
                }
    
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
    
                    .li {
                        text-decoration: none;
                    }
    
                    li {
                        color: var(--fourth-color);
                        font-weight: 400;
                        font-size: 0.9rem;
                        transition: 0.5s;
                        cursor: pointer;
    
                        a {
                            text-decoration: none;
                            color: var(--fourth-color);
                            transition: 0.5s;
                        }
                    }
    
                    li:hover,
                    a:hover {
                        transition: 0.5s;
                        opacity: 0.7;
                    }
                }
            }    
        }
    }

    p {
        text-align: center;
        color: var(--fourth-color);
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 1120px) {
    main {
        .funcionalidades {
            display: flex;
            flex-direction: column;

            .firstdiv {
                display: flex;
                flex-direction: column;

                .apartdiv {
                    padding: 0rem 0rem 2rem 0rem;
                }

                .funcdiv {
                    text-align: center;
                    padding: 5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }
            }

            .seconddiv {
                display: flex;
                flex-direction: column;

                .secondapartdiv {
                    padding-bottom: 2rem;
                }

                .thirdpartdiv {
                    padding-top: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
        padding: 2.5rem 0.5rem 2.5rem 1.5rem;

        img {
            width: 7rem;
            height: 1.2rem;
        }

        nav {
            width: 50%;

            a {
                font-size: 0.8rem;
            }
        }
    }

    main {
        .sectioninfos {
            div:first-child {
                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }

            div:last-child {
                width: 50%;
            }
        }

        .conhecaapp {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem 0rem 1rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            img {
                width: 80%;
            }
        }

        .funcionalidades {
            display: flex;
            flex-direction: column;

            .firstdiv {
                display: flex;
                flex-direction: column;

                .apartdiv {
                    padding: 0rem 0rem 2rem 0rem;
                }

                .funcdiv {
                    text-align: center;
                    padding: 5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }
            }

            .seconddiv {
                display: flex;
                flex-direction: column;

                .secondapartdiv {
                    padding-bottom: 2rem;
                }

                .thirdpartdiv {
                    padding-top: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            
            .dfooter {
                margin: 0 auto;
                gap: 5rem;
                width: 100%;

                div {
                    h4 {
                        font-size: 0.9rem;
                    }

                    ul {
                        li {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .header {
        padding: 2.5rem 0.5rem 2.5rem 1.5rem;

        img {
            width: 7rem;
            height: 1.2rem;
        }

        nav {
            width: 55%;

            a {
                font-size: 0.65rem;
            }
        }
    }

    main {
        .funcionalidades {
            display: flex;
            flex-direction: column;

            .firstdiv {

                div {
                    padding-top: 1rem;

                    h3 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.6rem;
                    }
                }

                .funcdiv {
                    padding: 3rem 2rem;
                }

                .apartdiv {
                    padding: 0rem 1rem 2rem 1rem;
    
                    img {
                        width: 40%;
                    }
                }
            }

            .seconddiv {

                .secondapartdiv {
                    padding: 0rem 1rem 2rem 1rem;

                    img {
                        width: 40%;
                    }

                    div {
                        padding-top: 1.5rem;
    
                        h3 {
                            font-size: 1rem;
                        }
    
                        p {
                            font-size: 0.6rem;
                        }
                    }
                }

                .thirdpartdiv {
                    padding: 2rem 1rem 0rem 1rem;

                    img {
                        width: 40%;
                    }

                    div {
                        padding-bottom: 1.5rem;
    
                        h3 {
                            font-size: 1rem;
                        }
    
                        p {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .home {
        .header {
            nav {
                a {
                    font-size: 0.6rem;
                }
            }
        }

        main {
            .sectioninfos {
                div:first-child {
                    h1 {
                        font-size:1.5rem;
                        margin-bottom: 0.8rem;
                    }
                }

                div:last-child {
                    font-size: 0.8rem;
                }
            }
        }

        .conhecaapp {
            gap: 1rem;
            padding: 2rem;
            div {
                gap: 1.2rem;

                p:first-child {
                    font-size: 1.2rem;
                }

                h2 {
                    font-size: 3rem;
                }

                p:last-child {
                    font-size: 1.2rem;
                }
            }
        }

        .footer {
            section {
                img {
                    width: 6rem;
                }

                .dfooter {
                    gap: 4rem;

                    div {
                        h4 {
                            font-size:0.8rem;
                        }
                    }
                }
            }
        }
    }
}