.meuspontos {
    display: flex;
    width: 100vw;
    height: 100vh;

    .pontos {
        width: 100%;
 
        header {
            height: 10%;
            width: 100%;
            text-align: center;
            padding: 25px;
            color: var(--third-color);

            h1 {
                font-size: 1.8rem;
            }
        }
        .firstDiv {
            width: 70%;
            height: 50%;
            top: 50%;
            left: 25%;
            padding: 10px;
            color: var(--fourth-color);
            display: flex;
            flex-direction: column;

            overflow-y: auto; 
            overflow-x: hidden;
            position: absolute;

            .secondDiv {
                background-color: var(--second-color);
                width: 100%;
                margin: 4px 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                gap: 17%;
                padding: 15px;
                

                p {
                    padding: 5px;
                    margin-right: 2%;
                }
            }

            .thirdDiv {
                display: flex;
                gap: 23%;
                background-color: var(--third-color);
                color: var(--fourth-color);
                padding: 10px;
                margin: 4px 0;
                width: 100%;
                font-size: 14px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                align-items: center;
                height: 20%;
                 

                .inf {
                    
                }
            }
        }
    }
}