.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 750px;
    color: red;
    flex-direction: column;


    .modal {
        background: white;
        padding: 20px;
        border-radius: 25px;
        position: relative;
        height: 210px;
        width: 510px;
        color: red;
    }

    button {
        margin-top: 6%;
        height: 40px;
        width: 280px;
    }

    .paragraph {
        font-size: 20px;
        color: var(--third-color);
        margin-top: 3%;
    }

    .login {
        color: white;
        text-decoration: none;
        font-weight: 400;
    }
}