.header {
    height: 16.5vh;
    width: 100%;
    background-color: var(--fourth-color);
    display: flex;
    align-items: center;
    justify-content: end;

    .divheader {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 2rem;

        h1 {
            font-size: 1.4rem;
            color: var(--third-color);
            padding: 0.9rem 2rem;
            border: 1px solid var(--third-color);
            border-radius: 0.5rem;
        }
    
        button {
            border: none;
            font-size: 0.8rem;
            font-weight: 750;
            background-color: var(--third-color);
            color: var(--fourth-color);
            padding: 0.9rem 2rem;
            border-radius: 0.5rem;
            transition: 0.5s;
        } 
    }
}

@media screen and (max-width: 960px) {
    .header {
        height: 16.5vh;
        width: 100%;
        background-color: var(--fourth-color);
        display: flex;
        align-items: center;
        justify-content: center;

        .divheader {
            h1 {
                font-size: 2vw;
            }

            button {
                font-size: 2vw;
            }
        }
    }
}

@media screen and (max-width: 960px) { 
    .header {
        height: 16.5vh;
        width: 100%;
        background-color: var(--fourth-color);
        display: flex;
        align-items: center;
        justify-content: center;

        .divheader {
            h1 {
                font-size: 1.5vw;
            }

            button {
                font-size: 1.5vw;
            }
        }
    }
}