.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

    .modalTask {
        background-color: var(--fourth-color);
        width: 50%; 
        height: 95%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        p {
            margin-bottom: 10px;
            font-size: 14px;
            color: var(--sixth-color);
            font-weight: 500;
            display: flex;
        }
        
        .completedCountMessage {
            font-size: 14px;
            color:var(--sixth-color);
            font-weight: 600;
        }
     
    }

    .headerTask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--third-color);
        color: var(--fourth-color);
        width: 100%;
        padding: 10px 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 25.5%;
    }

    .arrowicon {
        margin-bottom: 1.8rem;
        font-size: 35px;
        position: absolute;
        z-index: 99999;
        transform: rotateY(180deg);
    }

    .arrowicon:hover {
        opacity: 0.7;
        transition: 0.5s;
    }

    input {
        position: absolute;
        top: 22.9%;
        left: 29.5%;
        height: 46px;
        width: 36.8%;
        padding: 10px;
        border-radius: 7px;
        border: solid 2px  var(--third-color);
    }

    button {
        font-size: 0.9rem;
        position: absolute;
        left: 65.5%;
        top: 23.2%;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        border: none;
        border-radius: 5px;
        height: 1px;
        transition: 0.5s;
        padding: 1.3rem;
        background-color: var(--second-color);
        color: var(--fourth-color);
        cursor: pointer;

        .add {
            font-size: 20px;
            margin-left: 10%;
        }
    }

    button:hover {
        background-color: var(--third-color);
        transition: 0.5s;
    }

    h1 {
        margin-left: 33%;
        font-size: 33px;
        margin-bottom: 4%;
    }

    .tasks {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        height: 58%;
        width: 88%;
        gap: 3px;
        overflow-y: auto;
        
        .divMenssage{
            display: flex;
            flex-direction: row;
            gap: 68%;
        }

        .messageTask {
            font-weight: 600;
        }

        .taskDetail {
            background-color: #68B5CE;
            min-height: 13%;
            border-radius: 8px;
            color: black;
            padding: 18px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            border: solid 2px var(--third-color);

           
        }

        .completed {
            text-decoration: line-through;
            opacity: 0.8;
           
        }

        

        .checkIcon {
            margin-right: 10px;
            cursor: pointer;
            color: var(--third-color);
            font-size: 20px;
            font-weight: 200;

            &.completed {
                color: rgb(0, 255, 0); 
                
            }
        }

        .deleteIcon {
            color: var(--fourth-color);
            transition: 0.2s;
            cursor: pointer;
        }

        .deleteIcon:hover {
            color: red;
            cursor: pointer;
          }

        .taskText {  
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
            word-break: break-word; 
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 900px) {
    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    
        .modalTask {
            background-color: var(--fourth-color);
            width: 80%; 
            height: 80%;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
    
            p {
                margin-bottom: 10px;
                font-size: 11px;
                color: var(--sixth-color);
                font-weight: 500;
                display: flex;
            }
            .completedCountMessage {
                position: absolute;
                top: 34%;
                right: 20%;
                font-size: 11px;
                color:var(--sixth-color);
                font-weight: 600;
            }
    
         
        }
    
        .headerTask {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--third-color);
            color: var(--fourth-color);
            width: 100%;
            padding: 10px 20px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            height: 25.5%;
        }
    
        .arrowicon {
            margin-bottom: 1.8rem;
            font-size: 35px;
            position: absolute;
            z-index: 99999;
            transform: rotateY(180deg);
        }
    
        .arrowicon:hover {
            opacity: 0.7;
            transition: 0.5s;
        }
    
        input {
            position: absolute;
            top: 26.9%;
            left: 18.5%;
            height: 46px;
            width: 48.8%;
            padding: 10px;
            border-radius: 7px;
            border: solid 2px  var(--third-color);
        }
    
        button {
            font-size: 0.9rem;
            position: absolute;
            left: 65.5%;
            top: 27.1%;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            border: none;
            border-radius: 5px;
            height: 1px;
            transition: 0.5s;
            padding: 1.3rem;
            background-color: var(--second-color);
            color: var(--fourth-color);
            cursor: pointer;
    
            .add {
                font-size: 20px;
                margin-left: 10%;
            }
        }
    
        button:hover {
            background-color: var(--third-color);
            transition: 0.5s;
        }
    
        h1 {
            margin-left: 33%;
            font-size: 33px;
            margin-bottom: 4%;
        }
    
        .tasks {
            display: flex;
            flex-direction: column;
            margin-top: 10%;
            height: 58%;
            width: 88%;
            gap: 3px;
            overflow-y: auto;
            
           
    
            .messageTask {
                font-weight: 600;
            }
    
            .taskDetail {
                background-color: #68B5CE;
                min-height: 13%;
                border-radius: 8px;
                color: black;
                padding: 18px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                border: solid 2px var(--third-color);
            }
    
            .completed {
                text-decoration: line-through;
                opacity: 0.8;
               
            }
    
            
    
            .checkIcon {
                margin-right: 10px;
                cursor: pointer;
                color: var(--third-color);
                font-size: 20px;
                font-weight: 200;
    
                &.completed {
                    color: rgb(0, 255, 0); 
                    
                }
            }
    
            .deleteIcon {
                color: var(--fourth-color);
                transition: 0.2s;
                cursor: pointer;
            }
    
            .deleteIcon:hover {
                color: red;
                cursor: pointer;
              }
    
            .taskText {  
                flex-grow: 1;
                margin-left: 10px;
                margin-right: 10px;
                word-break: break-word; 
                font-size: 15px;
            }
        }
    }
}


